/* id = #, class = . */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
}
@media only screen and (max-width: 600px) {
  #headerNavigation {
    flex-direction: column;
  }
  #navigation {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
    justify-content: center;
  }
}
/* NAVIGATION */
#headerNavigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 237, 228);
  padding: 5px;
}
#headerNavigation img {
  margin-left: 20px;
}
#navigation {
  display: flex;
  gap: 5px;
}
/* TEST */
#headerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 16px 24px;
  flex-direction: row;
}
#headerNavigation > .navigation {
  display: flex;
}
#headerNavigation > .navigation > div {
  background-color: white;
  padding: 8px 16px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 0.3s background-color ease-out;
}
#headerNavigation > .navigation > div:hover {
  background-color: gainsboro;
}
#headerNavigation > .navigation > div:first-child {
  border-radius: 4px 0 0 4px;
}
#headerNavigation > .navigation > div:last-child {
  border-radius: 0 4px 4px 0;
}
#headerNavigation > .logo {
  width: auto;
  height: 40px;
}
#navigation > div {
  padding: 8px 16px;
  text-align: center;
  font-size: 14s;
  border: 1px solid rgba(151, 151, 151, 0.822);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}
#navigation a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#navigation > div:hover {
  background-color: rgb(241, 237, 228);
  border-color: white;
}

/* HEADER TITLE */
#headerTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
}
#sub-title {
  margin: 0;
  color: rgba(128, 128, 128, 0.733);
  font-weight: 400;
  font-size: 1.2rem;
}

/* CALL-US SECTION */
#callus {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
}
#article {
  flex-basis: 60%;
  flex-grow: 0;
  margin-left: 60px;
  margin-right: 15px;
}
#article img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}
#form {
  flex-basis: 40%;
  flex-grow: 0;
  background-color: rgb(241, 237, 228);
  margin-right: 60px;
  border-radius: 6px;
}
.titleform {
  font-size: 1.4rem;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.6);
}
.sub-titleform {
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  color: rgba(0, 0, 0, 0.384);
}

/* FORM */
.isi-form {
  border-radius: 5px;
  padding-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
textarea[id="message"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: black;
  opacity: 0.6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.3s;
}
input[type="submit"]:hover {
  opacity: 1;
  color: white;
}

/* ARTICLE & Business Marketing */
#article h5 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.63);
  font-weight: 400;
  display: inline-block;
}
.business-marketing {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.business-marketing img {
  margin: 80px;
  margin-bottom: 40px;
}
.business-marketing img:hover {
  opacity: 70%;
  transition: 0.5s;
  transform: scale(1.1);
}

/* TESTIMONI */
.testimoni-img {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.testimoni-img img {
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 50% !important;
}
.testimoni-info {
  display: inline-block;
}
.testimoni-name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  margin-left: 10px;
}
.testimoni-job {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 10px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
}
hr {
  border: 2px solid rgb(221, 217, 206);
  border-radius: 5px;
  width: 160px;
}

/* FORM HASIL */
.form-hasil {
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgb(241, 237, 228);
  border: 3px solid rgba(104, 103, 103, 0.164);
  border-radius: 7px;
}
.form-hasil p {
  margin: 10px;
}

/* IMAGE PACKAGE */
.img-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* OUR PACKAGE */
.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}
.service {
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 25px 30px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transfrom 0.3s, background 0.3s;
}
.service i {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgba(109, 104, 95, 0.61);
}
.service h2 {
  font-weight: 600;
  margin-bottom: 5px;
}
.service:hover {
  background: rgba(109, 104, 95, 0.61);
  color: white;
  transform: scale(1.05);
}
.service:hover i {
  color: white;
}

/* CLOSING TITLE */
#closingTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}
#sub-title-closing {
  margin-top: 0;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  text-align: center;
  color: rgba(128, 128, 128, 0.733);
  font-weight: 400;
  font-size: 1rem;
}
#closingTitle button {
  background-color: rgb(109, 104, 95);
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#closingTitle a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 600;
}
#closingTitle button:hover {
  background-color: rgba(109, 104, 95, 0.61);
  transition: 0.3s;
}

/* FOOTER */
#footer {
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
}
#footer img {
  margin-bottom: 20px;
}
#footer p {
  margin-top: 0;
  margin-bottom: 7px;
}
#footer a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
#footer h5 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
